USE master;
GO
CREATE DATABASE Expdicones;
GO
USE Expdicones;
GO

-- 1. Tabla maestra ACTIVIDAD
CREATE TABLE Actividad (
    id_actividad    INT IDENTITY(1,1) PRIMARY KEY,
    nombre          VARCHAR(100) NOT NULL,
    descripcion     TEXT,
    duracion_horas  DECIMAL(3,1),
    precio          DECIMAL(10,2) NOT NULL,
    cupo_maximo     INT NOT NULL
);

-- 2. Tabla maestra GUIA
CREATE TABLE Guia (
    id_guia      INT IDENTITY(1,1) PRIMARY KEY,
    nombre       VARCHAR(100) NOT NULL,
    apellido     VARCHAR(100) NOT NULL,
    licencia     VARCHAR(50)  NOT NULL UNIQUE,
    especialidad VARCHAR(50),
    estado       CHAR(1)      NOT NULL DEFAULT 'A' CHECK (estado IN ('A','I')) -- A=Activo, I=Inactivo
);

-- 3. Tabla maestra CLIENTE
CREATE TABLE Cliente (
    id_cliente     INT IDENTITY(1,1) PRIMARY KEY,
    nombre         VARCHAR(100) NOT NULL,
    apellido       VARCHAR(100) NOT NULL,
    email          VARCHAR(120) NOT NULL UNIQUE,
    telefono       VARCHAR(9),
    fecha_registro DATETIME     NOT NULL DEFAULT GETDATE()
);

-- 4. Tabla maestra HORARIO_ACTIVIDAD
CREATE TABLE Horario_Actividad (
    id_horario        INT IDENTITY(1,1) PRIMARY KEY,
    fecha_hora_inicio DATETIME NOT NULL,
    fecha_hora_fin    DATETIME NOT NULL,
    cupo_actual       INT NOT NULL,
    actividad_id      INT NOT NULL,
    guia_id           INT NOT NULL,
    CONSTRAINT FK_Horario_Actividad_Actividad
        FOREIGN KEY (actividad_id) REFERENCES Actividad(id_actividad)
        ON UPDATE CASCADE
        ON DELETE CASCADE,
    CONSTRAINT FK_Horario_Actividad_Guia
        FOREIGN KEY (guia_id) REFERENCES Guia(id_guia)
        ON UPDATE CASCADE
           ON DELETE NO ACTION
);

-- 5. Tabla transaccional RESERVA
CREATE TABLE Reserva (
    id_reserva      INT IDENTITY(1,1) PRIMARY KEY,
    fecha_reserva   DATETIME NOT NULL DEFAULT GETDATE(),
    estado          CHAR(1) NOT NULL CHECK (estado IN ('A','I')), -- A=Activa, I=Cancelada
    total_pagar     DECIMAL(10,2),
    cliente_id      INT NOT NULL,
    CONSTRAINT FK_Reserva_Cliente
        FOREIGN KEY (cliente_id) REFERENCES Cliente(id_cliente)
        ON UPDATE CASCADE
          ON DELETE NO ACTION
);

-- 6. Tabla transaccional DETALLE_RES
CREATE TABLE Detalle_Res (
    id_detalle       INT IDENTITY(1,1) PRIMARY KEY,
    cantidad_personal INT NOT NULL CHECK (cantidad_personal > 0),
    sub_total        DECIMAL(10,2),
    reserva_id       INT NOT NULL,
    horario_id       INT NOT NULL,
    CONSTRAINT FK_Detalle_Res_Reserva
        FOREIGN KEY (reserva_id) REFERENCES Reserva(id_reserva)
        ON UPDATE CASCADE
        ON DELETE CASCADE,
    CONSTRAINT FK_Detalle_Res_Horario
        FOREIGN KEY (horario_id) REFERENCES Horario_Actividad(id_horario)
        ON UPDATE CASCADE
           ON DELETE NO ACTION
);

-- 7. Tabla transaccional PAGO
CREATE TABLE Pago (
    id_pago         INT IDENTITY(1,1) PRIMARY KEY,
    monto           DECIMAL(10,2) NOT NULL,
    fecha_pago      DATETIME NOT NULL DEFAULT GETDATE(),
    metodo_pago     VARCHAR(20) NOT NULL CHECK (metodo_pago IN ('card','cash','transfer')),
    reserva_id      INT NOT NULL,
    CONSTRAINT FK_Pago_Reserva
        FOREIGN KEY (reserva_id) REFERENCES Reserva(id_reserva)
        ON UPDATE CASCADE
        ON DELETE CASCADE
);
GO





USE Expdicones;
GO

-- 1. INSERTAR ACTIVIDADES
INSERT INTO Actividad (nombre, descripcion, duracion_horas, precio, cupo_maximo) VALUES
('Rafting', 'Descenso por rápidos de río', 3.5, 120.00, 10),
('Canopy', 'Deslizarse por cables entre árboles', 2.0, 80.00, 8),
('Trekking', 'Caminata por senderos montañosos', 5.0, 100.00, 15),
('Kayak', 'Remar en río y lago', 4.0, 90.00, 12),
('Ciclismo de montaña', 'Recorrido por senderos de montaña', 6.0, 110.00, 10);

-- 2. INSERTAR GUIAS
INSERT INTO Guia (nombre, apellido, licencia, especialidad, estado) VALUES
('Pedro', 'Alvarez', 'LIC123', 'Rafting', 'A'),
('Laura', 'Mendoza', 'LIC124', 'Canopy', 'A'),
('Jorge', 'Torres', 'LIC125', 'Trekking', 'A'),
('Sofia', 'Diaz', 'LIC126', 'Kayak', 'A'),
('Miguel', 'Rojas', 'LIC127', 'Ciclismo', 'A');

-- 3. INSERTAR CLIENTES
INSERT INTO Cliente (nombre, apellido, email, telefono) VALUES
('Juan', 'Perez', 'juan.perez@email.com', '987654321'),
('Maria', 'Lopez', 'maria.lopez@email.com', '987654322'),
('Carlos', 'Gomez', 'carlos.gomez@email.com', '987654323'),
('Ana', 'Ramirez', 'ana.ramirez@email.com', '987654324'),
('Luis', 'Martinez', 'luis.martinez@email.com', '987654325');

-- 4. INSERTAR HORARIOS_DE_ACTIVIDADES
INSERT INTO Horario_Actividad (fecha_hora_inicio, fecha_hora_fin, cupo_actual, actividad_id, guia_id) VALUES
('2025-09-05 08:00', '2025-09-05 11:30', 0, 1, 1),
('2025-09-05 09:00', '2025-09-05 11:00', 0, 2, 2),
('2025-09-06 07:00', '2025-09-06 12:00', 0, 3, 3),
('2025-09-06 10:00', '2025-09-06 14:00', 0, 4, 4),
('2025-09-07 06:00', '2025-09-07 12:00', 0, 5, 5);

-- 5. INSERTAR RESERVAS
INSERT INTO Reserva (fecha_reserva, estado, total_pagar, cliente_id) VALUES
('2025-09-01', 'A', 240.00, 1),
('2025-09-01', 'A', 160.00, 2),
('2025-09-02', 'I', 100.00, 3),
('2025-09-02', 'A', 180.00, 4),
('2025-09-03', 'A', 220.00, 5);

-- 6. INSERTAR DETALLES DE RESERVA
INSERT INTO Detalle_Res (cantidad_personal, sub_total, reserva_id, horario_id) VALUES
(2, 240.00, 1, 1),
(2, 160.00, 2, 2),
(1, 100.00, 3, 3),
(2, 180.00, 4, 4),
(2, 220.00, 5, 5);

-- 7. INSERTAR PAGOS
INSERT INTO Pago (monto, metodo_pago, reserva_id) VALUES
(240.00, 'card', 1),
(160.00, 'cash', 2),
(100.00, 'transfer', 3),
(180.00, 'card', 4),
(220.00, 'card', 5);
GO


SELECT * FROM Actividad;
SELECT * FROM Guia;
SELECT * FROM Cliente;
SELECT * FROM Horario_Actividad;
SELECT * FROM Detalle_Res;
SELECT * FROM Pago;